@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0b0b;
  font-family: 'Outfit', sans-serif;
}

ul {
  list-style-type: none;
}

:root {
  --gradient: linear-gradient(to right, #c5e35b, #45b649)
;
}

::-webkit-scrollbar {
  background-color: #0b0b0b;
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #45b649;
}

.gradient {
  background: var(--gradient);
}

.defaultMargin {
  margin: 0 14rem;
}

button {
  color: white;
  padding: 1rem 1.8rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 4px transparent;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#dce35b), to(#45b649));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #dce35b, #45b649);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #0b0b0b inset;
          box-shadow: 2px 1000px 1px #0b0b0b inset;
}

.spring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6rem 0;
}

.spring .coil {
  border-top: white dashed 0.01rem;
  width: 49.75%;
}

.spring .bar {
  width: 0.5%;
  height: 7rem;
}

.spring.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
  text-align: center;
}

.title__container h2 {
  color: white;
}

.title__container p {
  color: #999999;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 2rem 0;
}

.navbar .brand__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .brand__container .brand h2 span {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #45b649;
}

.navbar .brand__container .toggle {
  display: none;
}

.navbar .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  button-padding: 0.5rem;
}

.navbar .links ul li a {
  text-decoration: none;
  color: inherit;
}

.navbar .links ul li a:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .links ul li i:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  overflow: hidden;
  height: 60vh;
}

.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2 rem;
}

.hero .content .title h1 {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vw;
}

.hero .image {
  position: relative;
}

.hero .image img {
  position: absolute;
  bottom: 0;
  height: 85vh;
  width: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about .container .image img {
  height: 25rem;
  width: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .container .play {
  position: absolute;
  top: 30%;
  cursor: pointer;
}

.about .container .play i {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10rem;
}
/*# sourceMappingURL=index.css.map */